# 디폴트 무시된 파일
/shelf/
/workspace.xml
# Rider에서 무시된 파일
/projectSettingsUpdater.xml
/modules.xml
/.idea.PathfindingAlgorithm.iml
/contentModel.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Rider 관련
.idea/
*.sln.iml

# 빌드 산출물
bin/
obj/
out/

# 사용자 환경 설정
*.user
*.suo
*.userosscache
*.sln.docstates

# 패키지
*.nupkg
*.snupkg
packages/

# 기타
*.log
*.vs/
